.hotel-offers {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .hotel-card {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  /*  */


/*  */

  .hotelmain{
    width: 100%;
  }
  .loader-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }